<div id='map-canvas'></div>

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj5KZGV4aLQdehnm4XUT2JpxyiqmcUkN4">
</script>

<%= javascript_tag do %>
	var coord = [];
	<% @impacts.each do |impact| %>
		coord.push( [<%= impact.latitude %> , <%= impact.longitude %>] );
	<% end %>
<% end %>